
html,
body,
#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color:#616161;
	color: white;
}

.mainDiv {
    display: flex;
	height: 90vh;
	font-size: 2vh;
}

.sideBarInputs {
	box-sizing: border-box;
    width: 20vw;
	resize: none;
}  

.sideBarResults {
	box-sizing: border-box;
    width: 20vw;
	resize: none;
} 

/* hide number up/down in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* hide number up/down in Firefox */
input[type=number] {
  font-size:1em;
  -moz-appearance: textfield;
}

.sideBarForm:after {  
  display: table;
  clear: both;   
  width: 90%;
}

.sideBarInputDiv {
  float: left;
  width: 40%;
  height: 3em;
  line-height: 3em;  
}

.inputLabel {
  width: 12vw;
  color: white;
}

.inputItem { 
  width: 12vw;
} 


.mapContainer {
    flex-grow: 1;
} 

.headerContainer  {
    height: 1vh;
	display: flex;
}

.footerContainer {
  display: flex;
  font-size: 0.7em;
  height: 5vh;
  width: 100vw;

}

.footerTzDiv {
  text-align: center;
  display: inline-block;
  zoom: 1;
  height: 5vh; 
}

.footerStretch {
    width: 10vw;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.mapContainer {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70vw;
  height: 90vh;
  border: none;
}

/* popup element styles */
.puHeader{
	font-weight: bold;
}

.puInna{
	color: #77808f;
	font-size: smaller;
}

.puTzName{
	color: #FFC20A;
}

.puCoordType{
	color: #77808f;
	font-size: smaller;
}

.puCoordVal{
	color: #ffffbf;
	font-size: smaller;
}


