
html,
body {
	background-color:#616161;
	color: white;
	width: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.8vmin;
}

.mainDiv {
    display: flex;
	resize: none;
}


.headerContainer  {
    height: 0.5vh;
	width: 100vw;
	display: flex;
}

.footerContainer {
  display: flex;
  font-size: 0.9em;
  width: 100vw;

}

.footerTzDiv {
  text-align: center;
  display: inline-block;
  zoom: 1; 
  padding: 0.5em 0 0 0.5em;
}

.footerStretch {
    width: 10vw;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


.viewDiv {
  flex-grow: 1;
  position: relative;	
  padding: 0;
  margin-left: auto; 
  margin-right: 0;
  width: 70vw;
  height: 85vh;
  border: solid #262626;
}

/* popup element styles */
.puHeader{
	font-weight: bold;
}

.puInna{
	color: #c9c9c9;
	/* font-size: smaller; */
}

.puTzName{
	color: #FFC20A;
}

.puCoordType{
	color: #c9c9c9;
	/* font-size: smaller; */
}

.puCoordVal{
	color: #ffffbf;
	/* font-size: smaller; */
}



* {
  box-sizing: border-box;
}

.row {
  display: block;
}

.width-6 {
  display: inline-block;
  position: relative;
  width: 50%;
  float: left;
}

.container-padding {
  padding: 3em;
}

.sideBar {
	float: left;
	width: 25%;
}  

.sideBarInputDiv {
  float: left;
  width: 95%;
  /* font-size: 0.8em; */
  padding: 0.25em;
  border: none;
}


.sideBarInputDiv fieldset {
  border: none;
  width: 100%;
  padding: 0;
}

.sideBarInputDiv legend,
.sideBarInputDiv label {
  padding: 0;
  font-weight: normal;
}

.sideBarInputDiv label.choice {
  font-size: 0.9em;
  font-weight: normal;
}

.sideBarInputDiv label {
  text-align: left;
  display: block;
  width: 95%;
}

.sideBarInputDiv label_child {
  text-align: right;
  display: block;
}

.sideBarInputDiv input[type="text"],
.sideBarInputDiv input[type="tel"],
.sideBarInputDiv input[type="datetime-local"],
.sideBarInputDiv select,
.sideBarInputDiv textarea {
  float: left;
  border: 1px solid #ccc;
  padding: 1vw;
}

.sideBarInputDiv input[type="number"]{
  float: left;
  border: 1px solid #ccc;
  font-size: 1em;
  width: 70%;
}


/* hide number up/down in Chrome, Safari, Edge, Opera */
.sideBarInputDiv input::-webkit-outer-spin-button,
.sideBarInputDiv input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* hide number up/down in Firefox */
.sideBarInputDiv input::[type=number] {
  font-size:1em;
  -moz-appearance: textfield;
}


.sideBarInputDiv input[type="radio"],
.sideBarInputDiv input[type="checkbox"] {
  margin-left: 40%;
}

.sideBarForm button {
  padding: 1em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
  margin-left: 90%;
  margin-top: 1.8em;
}

.sideBarForm button:hover {
  background: #ccc;
  cursor: pointer;
}

.sideBarResultsDiv {
  float: left;
  width: 95%;
  font-size: 1em;
  line-height: 2em;
  padding: 0.25em;
  border: none;
  white-space: nowrap;
}

.load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}