
html,
body,
#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color:#616161
}

.mainDiv {
    display: flex;
	height: 90vh;
}

.sideBar {
	box-sizing: border-box;
    width: 30%;
	font-size: 3vh;
	resize: none;
}  

/* hide number up/down in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* hide number up/down in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sideBarForm:after {  
  display: table;
  clear: both;   
  width: 90%;
}

.sideBarInputDiv {
  float: left;
  width: 45%;
  padding: 0.5vw, 0.2vh;
}

.inputLabel {
  width: 12vw;
  color: white;
  padding: 0.5vw, 0.2vh;
  font-size: 3vh;
}

.inputItem { 
  width: 12vw;
  font-size: 3vh;
} 

.mapContainer {
    flex-grow: 1;
} 

.headerContainer  {
    height: 5vh;
	display: flex;
}

.footerContainer  {
    height: 5vh;
	display: flex;
}

.mapViewIframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* popup element styles */
.puHeader{
	font-weight: bold;
}

.puInna{
	color: #77808f;
	font-size: smaller;
}

.puTzName{
	color: #FFC20A;
}

.puCoordType{
	color: #77808f;
	font-size: smaller;
}

.puCoordVal{
	color: #ffffbf;
	font-size: smaller;
}

